@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --branco: #f4f4f4;
    --preto: #000;
    --rosa: #eeb2b5;
    --amarelo: #f7d5a1;
    --castanho: #d6a996;
    --rosaE: #d296d6;
    --roxo: #c7adf7;

    --roboto: 'Roboto', sans-serif;
    --amaranth: 'Amaranth', sans-serif;
}
