
.imagem_principal_contactos {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-position: center;
    background-size:2000px; 
    background-image: url('../img/faqs/pexels-leeloo-thefirst-5428829.jpg');
  }

.faqs {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  margin-top: -3%;
  margin-bottom: 5%;
  }

  h2{
    text-align: center;
    font-size: 70px;
    margin-bottom: 8%;
  }
  
  .conteudo .pergunta-resposta {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .conteudo .pergunta-resposta button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
  }

  #botao-pergunta1{
    background-color: #ea9e7e;
    border-radius: 45px;
    margin-bottom: -10%;
    color: black;
  }

  #botao-pergunta1:hover{
    background-color: #f2c5b2;
    border-radius: 65px;
    margin-top: 2%;
    color: black;
    font-size: 19px;
    transition: 0.3s;
  }

  .pergunta-resposta{
    margin-bottom: 15%;
  }
  
  .conteudo button {
    /* position: relative; */
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .conteudo button:hover,
  .conteudo button:focus {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .conteudo button:hover::after,
  .conteudo button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .conteudo button .pergunta {
    padding: 1em 1.5em 1em 0;
    margin-left: 5%;
    font-weight: 500;
  }
  
  .conteudo button .icon {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 5%;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .conteudo button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .conteudo button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .conteudo button[aria-expanded='true'] {
    color: #03b5d2;
  }
  .conteudo button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .conteudo button[aria-expanded='true'] + .resposta {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    background-color: #ff7237c2;
    border-radius: 30px;
    margin-top: 10%;
  }

  @media (max-width: 1070px) {
    .faqs {
      margin: 0 auto;
      padding: 4rem;
      margin-top: -3%;
      width:100%;
  }
  }

  .conteudo .resposta {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .conteudo .resposta p {
    font-size: 1rem;
    margin: 2em 0;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 400;
  }