main
{
    background-color: rgb(231, 231, 231);
}
.modalidades_main {
    width: 80%;
    margin: auto;
}
.modalidades_main .row.head
{
    background-color: #f19fc5;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    box-shadow: 5px 4px 10px rgb(189, 189, 189);
}
.modalidades_main .row.info,
.modalidades_main .row.head
{
    display: flex;
    align-items: center;
}
.modalidades_main .row.info
{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}
/* .modalidades_main .col.option
{
    
} */
.modalidades_main .circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}