/* html{
    overflow: hidden;
} */

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.patrocinio_main{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

h1{
    margin: 20px 0;
    font-size: 50px;
    text-align: center;
}

hr{
    margin: 0 0 20px;
}

.dataTables_length{
    margin: 0 0 30px;
}

#patrocinio{
    margin: 30px 0;
}

th{
    background-color: var(--rosaE);
    height: 50px;
}

td{
    padding: 10px 0;
}

.more{
    width: 60px; 
    text-align: center;
}

.more span{
    display: flex;
    justify-content: center;
}

.option{
    width: 10%;
    text-align: center;
}

.option ul{
    list-style: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mensagem{
    width: 35%;
}

td p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 16px 5px;
}

td a{
    text-decoration: none;
    color: var(--preto);
}

.semR{
    background-color: var(--castanho);
}

.comR{
    background-color: var(--rosa);
}

.voltar,
.enviar{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

.voltar{
    width: 150px;
    background-color: var(--roxo);
    margin-bottom: 20px;
}

.about{
    background-color: var(--branco_footer);
    padding: 20px;
}

.sobre{
    font-size: 20px;
    height: 5vh;
    line-height: 5vh;
    margin: 5% 0 2%;
}

.conteudo{
    margin: 5px 0;
    height: 4vh;
    display: flex;
    align-items: center;
    background-color: var(--cinza);
    border: 2px solid var(--cinzaBorda);
    border-radius: 10px;
    padding: 10px;
}

.msg{
    width: 50%;
}

.msg .conteudo{
    padding: 20px 10px;
    height: 15vh;
    align-items: flex-start;
}

.resp, 
.msg{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resp .conteudo, 
.msg .conteudo{
    height: 100px;
    width: 100%;
}

.btn{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

.enviar{
    border: none;
    background-color: var(--amarelo);
}

.delete{
    border: none!important;
    color: red;
}

.enviar:hover{
   cursor: pointer;
}

.row{
    display: flex;
    gap: 160px;
    justify-content: flex-start;
}
@media (max-width:1400px){
    .option ul{
        flex-direction: column;
    }
}