body{
    overflow: hidden;
}

.pedidos_main {
    display: flex;
     flex-direction: column;
     height: 90vh;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
}


.pedidos_show,
.pedidos_edit{
    display: flex;
    flex-direction: column;
    margin: 15px 5%;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.pedidos_main h1{
    text-align: center;
}

.pedidos_main h1,
.pedidos_show h1,
.pedidos_edit h1 {
    margin: 20px 0;
    font-size: 50px;
}

.patrocinio_main .quantidade{
    font-size: 18pt;
}

.pedidos_main hr,
.pedidos_show hr,
.pedidos_edit hr  {
    margin: 0 0 20px;
}

.dataTables_length {
    margin: 0 0 30px;
}


.pedidos_show .voltar,
.pedidos_edit .voltar,
.pedidos_edit .enviar {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

.voltar {
    width: 150px;
    background-color: var(--roxo);
    margin-bottom: 20px;
}

.voltar:hover{
    color: var(--branco);
}

.pedidos_main .voltar,
.pedidos_main .enviar,
.pedidos_main .arquivados {
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: var(--branco);
    padding: 10px;
    border-radius: 10px;
}

.pedidos_main .voltar,
.pedidos_main .arquivados {
    width: 170px;
    background-color: var(--roxo);
    margin-bottom: 20px;
}

.pedidos_main .voltar_quantidade{
    display: flex;
    float: left;
    width: 70vw;
}

.pedidos_main .enviar{
    margin: 25px 0;
    float: right;
}

.pedidos_main .dataTables_length {
    margin: 0 0 30px;
}

.pedidos_main #pedprof,
.pedidos_main #arquivados {
    margin: 30px 0;
}

.pedidos_main #pedprof{
    border-collapse: collapse;
}

.pedidos_main #pedprof .title{
    background-color: var(--rosaE);
    height: 50px;
    text-align: center !important;
}

.pedidos_main #pedprof td {
    padding: 10px 0;
    text-align: center !important;
}

.pedidos_main #pedprof .more {
    width: 60px;
    text-align: center;
}

.pedidos_main #pedprof .more span {
    display: flex;
    justify-content: center;
}

.pedidos_main .option {
    width: 10%;
    text-align: center;
}

.pedidos_main .option ul {
    list-style: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedidos_main td p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 16px 5px;
}

.pedidos_main td a {
    text-decoration: none;
    color: var(--preto);
}

.pedidos_main .aceite {
    background-color: var(--rosa);
    color: var(--branco);
}

.pedidos_main .recusado {
    background-color: var(--castanho);
    color: var(--branco);
}

.pedidos_main .pendente {
    background-color: var(--amarelo);
    color: var(--branco);
}

.pedidos_main .delete {
    border: none !important;
    color: red;
}

.table-wrapper{
    width: 70vw;
}

/* ##### paginação listagem ##### */

.pedidos_main .paginate_button,
.pedidos_main .previous,
.pedidos_main .next {
    border: none !important;
    border-radius: 50% !important;
    background: var(--branco_footer) !important;
    width: 40px !important;
    height: 35px !important;
}

.pedidos_main .current {
    background: var(--amarelo) !important;
}


/* ##### show ##### */
.pedidos_show .pedido_titulo{
    font-size: 35pt;
    text-align: left;
}

.pedidos_show .pedido_titulo span {
    font-size: 20pt;
}

.pedidos_show .pedido {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.pedidos_show .info_exp {
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
}

.pedidos_show .informacao,
.pedidos_show .experiencia,
.pedidos_show .responder {
    width: 25vw;/* 
    height: 25vh; */
    background-color: var(--branco_footer);
    border: 1px solid var(--cinzaBorda);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pedidos_show .info_exp h2,
.pedidos_show .responder h2 {
    border-bottom: 3px solid var(--black2);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.pedidos_show .informacao p {
    font-size: 16pt;
}

.pedidos_show .sob {
    font-weight: bold;
}

.pedidos_show .info_exp .informacao a {
    color: var(--rosaE);
    text-decoration: none;
    font-weight: 500;
}

.pedidos_show .info_exp .experiencia a {
    color: var(--castanho);
    text-decoration: none;
    font-weight: 500;
    font-size: 16pt;
}

.pedidos_show .responder {
    display: flex;
}

.pedidos_show .responder p {
    text-align: center;
    font-size: 16pt;
}


/* ##### edit ##### */
.pedidos_edit .pedidos_sobre {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.pedidos_edit .pedidos_sobre .cont {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.pedidos_edit h2 {
    text-align: center;
    margin: 10px;
}

.pedidos_edit .acerca,
.pedidos_edit .exp,
.pedidos_edit .responderPedido {
    display: flex;
    flex-direction: column;
    width: 30em;
    background: var(--branco_footer);
    justify-content: space-evenly;
    border: 3px solid var(--cinzaBorda);
    border-radius: 10px;
    padding: 10px;
   
}

.pedidos_edit .acerca_sob {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.pedidos_edit .acerca .sob_titulo,
.pedidos_edit .exp .sob_titulo {
    font-weight: bold;
    font-size: 16pt;
}

.pedidos_edit .acerca .sob_titulo{
    margin: 0;
}

.pedidos_edit .acerca input,
.pedidos_edit .exp input,
.pedidos_edit .acerca_sob p.conteudo {
    border: transparent;
    background: transparent;
    margin: 0 0 0 10px;
    font-size: 16pt;
    cursor: not-allowed;
}


.pedidos_edit .acerca_sob a {
    color: var(--castanho);
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px 0;
    font-size: 16pt;
}

.pedidos_edit .responderPedido textarea {
    text-align: center;
    height: 40%;
    padding: 10px;
    border: 1px solid var(--cinzaBorda);
    border-radius: 5px;
    background: var(--gray);
}

.pedidos_edit .enviar {
    border: none;
    background-color: var(--amarelo);
    float: right;
}

.pedidos_edit .enviar:hover {
    cursor: pointer;
}

.pedidos_edit .btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pedidos_edit .btn ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pedidos_edit .btn ul li {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pedidos_edit input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.pedidos_edit input[value='aceite']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #90bc04;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.pedidos_edit input[value='recusado']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff8029;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.pedidos_edit .btn label{
    line-height: 15px;
}

.pedidos_edit .alerta {
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    border-radius: 10px;
    margin: 10px 0;
}

.pedidos_edit .alert {
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    border-radius: 10px;
    margin: 10px 0;
}

.pedidos_edit .alert ul{
    list-style: none;
}

/* ##### restaurar ##### */
.pedidos_main .restaurar {
    border: none;
    color: green;
}

#arquivados{
    text-align: center;
}

.pedidos_main .tabela-arquivados {
    width: 100%;
}

.tabela-arquivados .title{
    background-color: var(--rosaE);
    height: 50px;
    text-align: center !important;
}

@media (max-width:1400px) {
    .pedidos_main .option ul {
        flex-direction: column;
    }
}

@media (max-width:1200px) {
    .pedidos_main .informacao, .pedidos_main .experiencia, .pedidos_main .responder {
        width: auto;
    }
}

@media (max-width:1090px) {
    .pedidos_show .pedido {
        gap: 20px;
    }

    .pedidos_show .info_exp {
        gap: 20px;
        flex-wrap: wrap;
    }

    .pedidos_show .informacao, .pedidos_show .experiencia, .pedidos_show .responder {
        width: auto;
    }

    .pedidos_main .responder{
        margin: 20px auto 0;
    }

    .pedidos_main .table-wrapper {
        position: relative;
    }

    .pedidos_main .table-scroll {
        margin-top: 20px;
        overflow-x: scroll;
        margin-top: 20px;
    }

    .pedidos_main table {
        width: 100%;
        border-collapse: collapse;
    }

    .pedidos_main table tr:nth-child(2) {
        background-color: var(--branco_footer);
    }

    .pedidos_main th {
        padding: 10px;
    }

    .pedidos_main td {
        border-bottom: 1px solid var(--cinzaBorda);
    }
}

@media (max-width:900px) {

    .pedidos_show .informacao,
    .pedidos_show .experiencia,
    .pedidos_show .responder {
        width: 50vw;
    }

    .pedidos_main .btn ul{
        flex-direction: column;
        gap: 10px;
    }

    .pedidos_main input[type='radio'],
    .pedidos_main input[type='radio']:after,
    .pedidos_main input[value='recusado']:checked:after,
    .pedidos_main input[value='aceite']:checked:after {
        width: 25px;
        height: 25px;
        border-radius: 25px;
    }

    .pedidos_main .btn label{
        line-height: 25px;
    }
}

@media (max-width:600px) {

    .pedidos_main .dataTables_length,
    .pedidos_main .dataTables_paginate,
    .pedidos_main .paging_simple_numbers,
    .pedidos_main .dataTables_info {
        display: none;
    }

    .pedidos_show .pedido {
        flex-direction: column;
    }

    .pedidos_main .responder {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .pedidos_main .responder p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pedidos_main .acerca,
    .pedidos_main .exp,
    .pedidos_main .responderPedido {
        width: 80%;
        margin: 10px auto;
    }
}