*{
    margin: 0px;
    padding: 0px;
}
.todas_informacoes_perfil{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.foto_perfil_perfil img{
    height: 300px;
    width: 200px;
    border: 10px inset #a0a0a0;
}
.texto_perfil{
    font-size:18pt;
    margin-top: 50px;
}