.section-padding {
    padding: 0px;
  }
#user_photo img{
  border-radius: 50%;
  background-color: #fff;
  width: auto;
  height: 60px;
}
.active>.page-link, .page-link.active{
  background-color: #747474;
  border-color:#747474;
}
.page-link{
  color: #747474;
}
.page-item a:hover{
  color: #191919
}
.tbody td {
  height: 40px;
  line-height: 40px;
}
.hiddenRow {
  padding: 0 !important;
}
